<h3>About</h3> <!-- ( about.erb ) -->
Hello!
</ br>
</ br>
"Hello! <a href=\"https://github.com/bootstrap-ruby/sinatra-bootstrap\">Original</a> pattern has been modified for <a href=\"http://rubyschool.us/\">Ruby School !!!</a>"