<h3>Index</h3> <!-- ( index.erb ) -->
<b style="color: rgb(256, 64, 128)" > I am: <%= @user %> </b>
</br></br>
<h4>My Persons:</h4>
<div>
	<ul>
		<li><a href="/person/new"    >New Person</a></li>
		<li><a href="/person/edit"   >Edit Person</a></li>
		<li><a href="/person/delete" >Delete Person</a></li>
	</ul>	
</div>

