<h3>Index</h3> <!-- ( index.erb ) -->
</br>
</hr>
<h4>I am:</h4> 
<% @user[0].each do |key, value| %>
		<%= "#{key}: #{value}" %>	</br>	
<% end %>
</br>
<h4>Persons</h4>
<div>
	<ul>
		<li><a href="/person/new"    >New Person</a></li>
		<li><a href="/person/edit"   >Edit Person</a></li>
		<li><a href="/person/delete" >Delete Person</a></li>
	</ul>	
</div>
<%= @user %>
